---
title: {{ title }}

author: {{ config['default']['author'] }}

csl: {{ relpaths['csl_dir'] }}/{{ config['default']['csl'] }}
{% if bibliography %}
bibliography: {{ relpaths['bibliography_dir'] }}/{{ config['default']['bibliography'] }}
{% endif %}
---

\newpage

# Bibliography
